h2:hover{
    color: darkgreen;
    font-size:25px; /*muda tamanho da fonte*/
} 

h1{
    color: darkgrey;
    background-color: darkgreen;
}

/* quero que quando colocar o mouse em cima da imagem, mude de imagem para a PhantomBBJumpscare.webp em tela cheia, pra dar um sustinho*/
img:hover{
    content: url(PhantomBBJumpscare.webp);
    width: 100%;
    height: 100%;
}

.julin{
    color: black;
}

img{
    border-radius: 20px;
}

body{
    background-image: url(PhantomBBJumpscare.webp);
    background-repeat: no-repeat;
    background-size: cover;
}